<!DOCTYPE html>
<html>
	<head>
	<title>my first work</title>
	<style>
		h1 {
			background-color:blanchedalmond
		}
		iframe{
			width: 300px;
			height: 200px;
		}
		ul#p1{
			margin: 0px;
			padding: 0px;
			border: 10px solid red;
			background-color: red;
			list-style-type: none;
		}
		ul#p1 li a:hover{
			text-decoration: none;
		}
		</style>
	</head>

	<body style="background-color:darkgrey">
	<h1>first</h1>
	<header>dasdklmkl</header>
	<p>program</p>
	<a href="/upload">xyz</a>
	<p style="color:forestgreen;"><b>This is pip</b></p>
	<iframe src="/home" name="x"></iframe>
	<p><a href="/upload" target="x" method="POST">x</a></p>
	<ul id="p1">
		<li>
			<a href="/upload" target="_top">home</a>
			<a href="https://www.varzesh3.com">varz</a>
		</li>
	</ul>
	<table>
		<tr>
		<th>1</th>
		<th>2</th>
		<th>3</th>
		</tr>
	<tr>
		<td>12</td>
		<td>13</td>
		<td>14</td>
	</tr>
	</table>
<form action="/postreq" style="border-color:black" method="POST">
	<fieldset>
<legend>It's jakamola!</legend>
jaka<br>
<input type="text" name="jake">
<br>
<input type="submit" name="saka"><br>
<keygen name="sec">
	</fieldset>
</form>
<dialog>gfdgdgdg</dialog>
<button onclick="a()">click</button>
<nav>grgergre</nav>
<article>
	<header>jhgfhgjk</header>
	<section>bfgb</section>
</article>
	</body>
<script>
	function a(){
	   $.get("/upload")
	}
</script>
</html>
