<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:lightblue">
    <nav></nav>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">What's New?</div>
            <div class="panel-body">
                {% for i in posts %}
                <h4>{{i[0]}}</h4>
                <p>{{i[1]}}</p>
                <form action="{{url_for('delete', subz=i[0])}}" method="POST">
                    <button class="btn btn-default" style="margin-left:1200px">Delete</button>
                </form>
                <hr>
                {% endfor %}
            </div>
            
        </div>    
    </div>
    
</body>
</html>